* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  background-color: #1E293B;
}

.border {
  box-shadow: 2px 5px 50px 10px rgba(68, 177, 250, 0.51);
}

h1 {
  padding-top: 40px;
  font-family: Libertinus Serif;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.lastName {
  width: 30%;
  height: 300px;
  border: 2px solid red;
}