*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  color: goldenrod;
  text-align: center;
}
a{
  width: 20%;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: green;
  margin: auto;
}