*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 300px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  position: relative;
}
img{
  position: absolute;
  top: -11%;
  left: -8%;
  width: 115%;
  height: 125vh;
  z-index: -1;
}
.name p:nth-child(1){
  position: absolute;
  top: 1%;
  left: 43%;
  font-size: 5vw;
}
.name p:nth-child(2){
  position: absolute;
  top: 5%;
  left: 47%;
  font-size: 4vw;
}